{% extends "home.html"%}
{% block content %}
    <div class="splash">
        <div class="pure-g-r">
            <div class="pure-u-1">
                <div class="l-box splash-text">
                    <h1 class="splash-head">
                        Fale Conosco
                    </h1>
                    <h4 >
                     Entre em contato utilizando algumas das formas abaixo.
                    </h4>
                    <p>
                        <A>Facebook :</A>
                        <a href="https://www.facebook.com/BardockGamesOficial" target="_blank" >Bardock Games </a><br>

                        <A>Instagram :</A>
                        <a href="https://www.instagram.com/joao.pedrof/" target="_blank" > joao.pedrof</a><br>

                        <A>Email :</A>
                        <a href="#" > joao-pedro-f@hotmail.com </a><br>


                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
